<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="language" content="ko" />
  <meta name="author" content="김준형 (Kim , Jun-hyung)" />
  <meta name="copyright" content="김준형 (Kim , Jun-hyung)" />
  <meta name="reply-to" content="ghilbut@gmail.com" />

  <link rel="shortcut icon" href="/static/images/favicon.ico" />
  <link rel="stylesheet" href="/static/css/common.css"  media="screen" />

{% block head_scripts %}
{% endblock %}

  <title>shorturls | 김준형</title>
</head>
<body>

<div id="wrap">
	
  <header>
    <h1> SHORTURLS </h1>

	<audio controls>
	  <source src="/static/translate_tts.mp3" type="audio/mp3" />
    </audio>
  </header>
  
  <hr>

{% block content %}
{% endblock %}

</div>

<script type="application/javascript">
</script>

{% block body_scripts %}
{% endblock %}

</body>
</html>
