{% extends "base.html" %}


{% block head_scripts %}
{# nothing #}
<style>
.hide_info {
  display: none;
}
</style>
{% endblock %}


{% block content %}

<div style="margin-top: 3em;"></div>

<h3>TAG 정보</h3>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">{{ tag.tag }}</div>
  <div class="panel-body">
    <ul>
	  <li>URL: {{ tag.url }}</li>
	  <li>CREATED: {{ tag.created_at }}</li>
	  <li>
	  	<a class="btn btn-primary btn-xs" role="button" target="_blank" href="/{{ tag.tag }}">Test</a>
	  	<a class="btn btn-primary btn-xs" role="button" id="flush_memcache">Clear Cache</a>
	  </li>
	</ul>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
    <th rowspan="2">IS CACHED</th>
    <th rowspan="2">EXECUTION TIME (sec)</th>
    <th rowspan="2">ACCESS TIME</th>
    <th colspan="4">ACCESS INFO</th>
  </tr>
  <tr>
  	<th>CLIENT</th>
    <th>HEADERS</th>
    <th>COOKIES</th>
  </tr>
  {% for item in items %}
  <tr>
  <td>{{ item.is_cached }}</td>
  <td>{{ item.execution_time_sec }}</td>
  <td>{{ item.created_at }}</td>
  <td>{{ item.access_info.client }}</td>
  <td>
  	<button type="button" class="btn btn-default btn-xs show_info">
	  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> Show
	</button>
  	<ul style="display:none;">
  	  <button type="button" class="btn btn-default btn-xs hide_info">
		<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span> Hide
      </button>
      <br><br>
    {% for key, value in item.access_info.headers.items() %}
      <li><b>[ {{ key }} ]</b> : {{ value }}</li>
    {% endfor %}
    </ul>
  </td>
  <td>
  	<button type="button" class="btn btn-default btn-xs show_info">
	  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> Show
	</button>
  	<ul style="display:none;">
  	<button type="button" class="btn btn-default btn-xs hide_info">
	  <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span> Hide
    </button>
    <br><br>
    {% for key, value in item.access_info.cookies.items() %}
      <li><b>[ {{ key }} ]</b> : {{ value }}</li>
    {% endfor %}
    </ul>
  </td>
  </tr>
  {% else %}
  <tr><td colspan="6">No Histories.</td></tr>
  {% endfor %}
  </table>
</div>

<div style="margin-bottom: 3em;"></div>

{% endblock %}


{% block body_scripts %}
<script>
var shows = document.getElementsByClassName('show_info');
for (var i = 0, size = shows.length; i < size; ++i) {
  var show = shows[i];
  show.onclick = function () {
    hide = this.parentNode.getElementsByClassName('hide_info')[0];
    hide.style.display = 'inline';
    ul = this.parentNode.getElementsByTagName('UL')[0];
    ul.style.display = '';
    this.style.display = 'none';
  };
}

var hides = document.getElementsByClassName('hide_info');
for (var i = 0, size = hides.length; i < size; ++i) {
  var hide = hides[i];
  hide.onclick = function () {
    show = this.parentNode.parentNode.getElementsByClassName('show_info')[0];
    show.style.display = '';
    ul = this.parentNode;
    ul.style.display = 'none';
    this.style.display = 'none';
  };
}

document.getElementById('flush_memcache').onclick = function () {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/user/flush/memcache?tag={{ tag.tag }}', false);
  xhr.send();
};
</script>
{% endblock %}
