{% extends "base.html" %}


{% block head_scripts %}
{# nothing #}
{% endblock %}


{% block content %}

<div style="margin-top: 3em;"></div>

<div class="well well-lg">
	
  <form method="post" action="/user">
    <input type="hidden" name="op" value="insert"/>
    <input type="hidden" name="owner" value="{{ user.email() }}"/>

    <div class="input-group">
      <label class="input-group-addon" for="url">URL</label>
      <input type="text" class="form-control" id="url" name="url" placeholder="Redirect for ...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Register</button>
      </span>
    </div><!-- /input-group -->

  </form>

</div>

<div style="margin-top: 3em;"></div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <!-- Table -->
  <table class="table">
    <tr>
    <th>TAG</th>
    <th>URL</th>
    <th>CREATED AT</th>
    <th>DEL</th>
  </tr>
  {% for item in urls %}
  <tr>
  <td>
  	<a href="/user/tag/info?tag={{ item.tag }}">{{ item.tag }}</a>
  </td>
  <td>
  	<a class="btn btn-primary btn-xs" target="_blank" href="/{{ item.tag }}" role="button">Test</a>
  	&nbsp; {{ item.url }}
  </td>
  <td>{{ item.created_at }}</td>
  <td>
  	<form method="post" action="/user">
  	  <input type="hidden" name="op" value="remove"/>
  	  <input type="hidden" name="tag" value="{{ item.tag }}" />
  	  <button type="submit" class="btn btn-default btn-xs" id="how_to_read_play">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
	  </button>
  	</form>
  </td>
  </tr>
  {% else %}
    <tr><td colspan="6">No URLs.</td></tr>
  {% endfor %}
  </table>
</div>

<div style="margin-bottom: 3em;"></div>

{% endblock %}


{% block body_scripts %}
{# nothing #}
{% endblock %}
